*.pyc
/src/python27/launcher27.res
/src/python3/launcher3-32.res
/src/python3/launcher3-64.res
/launcher_tool/launcher27.exe
/launcher_tool/launcher3-32.exe
/launcher_tool/launcher3-64.exe
/launcher_tool/*.pyc
/launcher_tool/__pycache__
/build
/dist
/python_embedded_launcher.egg-info
/examples/demo*/wheelhouse
/examples/demo*/dist*
/examples/demo*/build
/examples/demo*/*.egg-info
