/launcher_tool/launcher27.exe
/src/python27/launcher27.res
/examples/demo*/wheelhouse
/examples/demo*/dist*
/examples/python27/demo*/dist
/src/python3/launcher3.res
/launcher_tool/launcher3.exe
/launcher_tool/*.pyc
/launcher_tool/__pycache__
/build
/dist
/python_embedded_launcher.egg-info
