include requirements.txt
include CHANGES.rst
include README.rst
include LICENSE.txt
include examples/demo_app/app/core.py
include examples/demo_app/app/__init__.py
include examples/demo_app/app/__main__.py
include examples/demo_app/scrips/mt
include examples/demo_app/icon.ico
include examples/demo_app/README.txt
include examples/demo_app/setup.cfg
include examples/demo_app/setup.py
include examples/demo_custom_main/demo1.py
include examples/demo_custom_main/make_demo_py27.bat
include examples/demo_custom_main/make_demo_py3.bat
include examples/demo_pip/make_demo_py27.bat
include examples/demo_pip/make_demo_py3.bat
include examples/demo_pip/README.rst
include examples/demo_pip/requirements.txt
include examples/demo_wx_classic/copy_wx.py
include examples/demo_wx_classic/make_demo_py27.bat
include examples/demo_wx_classic/README.rst
include examples/demo_wx_classic/sample_application.py
include examples/demo_zip_include/icon.ico
include examples/demo_zip_include/make_demo_external_wheels_py3.bat
include examples/demo_zip_include/make_demo_py3.bat
include examples/demo_zip_include/make_demo_py3-64bit.bat
include examples/demo_zip_include/make_demo_py27.bat
include examples/demo_zip_include/README.rst
include examples/demo_zip_include/requirements.txt
include src/compile_all.bat
include src/python27/compile.bat
include src/python27/launcher.ico
include src/python27/launcher27.c
include src/python27/launcher27.h
include src/python27/launcher27.manifest
include src/python27/launcher27.rc
include src/python3/compile.bat
include src/python3/launcher.ico
include src/python3/launcher3.c
include src/python3/launcher3.h
include src/python3/launcher3.manifest
include src/python3/launcher3.rc







