//~ 1 VERSIONINFO
//~ FILEVERSION     1,0,0,0
//~ PRODUCTVERSION  1,0,0,0
//~ BEGIN
  //~ BLOCK "StringFileInfo"
  //~ BEGIN
    //~ BLOCK "080904E4"
    //~ BEGIN
      //~ VALUE "CompanyName",     "My Company Name"
      //~ VALUE "FileDescription", "My excellent application"
      //~ VALUE "FileVersion",     "1.0"
      //~ VALUE "InternalName",    "my_app"
      //~ VALUE "LegalCopyright",  "My Name"
      //~ VALUE "OriginalFilename", "my_app.exe"
      //~ VALUE "ProductName",     "My App"
      //~ VALUE "ProductVersion",  "1.0"
    //~ END
  //~ END

  //~ BLOCK "VarFileInfo"
  //~ BEGIN
    //~ VALUE "Translation", 0x809, 1252
  //~ END
//~ END

//~ #include "winuser.h"
//~ 2 RT_MANIFEST launcher27.manifest

3 ICON "launcher.ico"

#define IDS_NAME                1
#define IDS_PYTHONHOME          2
#define IDS_PY_NOT_FOUND        3
#define IDS_PYDLL_NOT_FOUND     4
#define IDS_PYDLL_ERROR         5
#define IDS_ZIP_NOT_FOUND       6

STRINGTABLE
{
    IDS_NAME,                   "Python Launcher"
    IDS_PYTHONHOME,             "python27-minimal"
    IDS_PY_NOT_FOUND,           "Python minimal distribution not found!"
    IDS_PYDLL_NOT_FOUND,        "Python DLL could not be loaded! (File not found)"
    IDS_PYDLL_ERROR,            "Python DLL could not be loaded! (Symbols)"
    IDS_ZIP_NOT_FOUND,          "Zip data not appended to launcher!"
} 
