// This file is part of https://github.com/zsquareplusc/python-embedded-launcher
// (C) 2016 Chris Liechti <cliechti@gmx.net>
//
// SPDX-License-Identifier:    BSD-3-Clause
#include "winuser.h"
#include "launcher27.h"

1 RT_MANIFEST launcher27.manifest
1 ICON "launcher.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS 0x4
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "000004b0"
    BEGIN
      //~ VALUE "CompanyName",     "Open Source"
      VALUE "FileDescription", "Python Embedded Launcher"
      //~ VALUE "FileVersion",     "1.0"
      VALUE "InternalName",    "Python Embedded Launcher"
      //~ VALUE "LegalCopyright",  "My Name"
      VALUE "OriginalFilename", "launcher27.exe"
      VALUE "ProductName",     "launcher"
      //~ VALUE "ProductVersion",  "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0000, 0x04b0
  END
END

STRINGTABLE
{
    IDS_NAME,                   "Python Launcher"
    IDS_PYTHONHOME,             "%SELF%\\python27-minimal"
    IDS_PY_NOT_FOUND,           "Python minimal distribution not found!"
    IDS_PYDLL_NOT_FOUND,        "Python DLL could not be loaded! (File not found)"
    IDS_PYDLL_ERROR,            "Python DLL could not be loaded! (Symbols)"
    IDS_ZIP_NOT_FOUND,          "Zip data not appended to launcher!"
} 
